<div id="monthsSideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul class="sidebar-nav">
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 1 })">Január</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 2 })">Február</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 3 })">Marec</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 4 })">Apríl</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 5 })">Máj</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 6 })">Jún</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 7 })">Júl</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 8 })">August</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 9 })">September</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 10 })">Október</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 11 })">November</a>
        </li>
        <li>
            <a href="@Url.Action("GetSpendingsTable", "Spendings", new { id = 12 })">December</a>
        </li>
    </ul>
</div>

